.navbar {
    max-width: 968px;
    margin: 0 auto;
}

.nav-left a {
    color: #666666;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}

.nav-left a:hover {
    color: #5eabdf;
    border-bottom: 3px solid #5eabdf;
}

.nav-left, .nav-center, .nav-right {
    display: inline-block;
}

.nav-center img {
    margin-left: 140px;
    margin-right: 140px;
}

.nav-right {
    float: right;
}

