body {
    margin: 0;
}

.navbar {
    max-width: 100%;
    height: 50px;
    margin: 0 auto;
    border: 1 px solid grey;
    box-shadow: 0px 2px 3px 0 lightgray;
    /* position: fixed; */
}

.nav-left, .nav-center, .nav-right {
    display: inline-block;
}

.nav-left {
    /* max-width: 600px; */
    margin-left: 100px;
    margin-top: 15px;
}

.nav-left a {
    color: #666666;
    text-decoration: none;
    font-size: 10pt;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    padding-bottom: 15px;
    margin-bottom: 10px;
}

.nav-left a:hover {
    color: #85cec2;
    border-bottom: 3px solid #85cec2;
}

.nav-left i {
    margin-right: 5px;
}

.nav-center i {
    margin-left: 140px;
    /* margin-right: 40px; */
    margin-top: 10px;
    color: rgb(77, 191, 236)
}

.nav-right {
    float: right;
    margin-right: 100px;
}

.nav-right input {
    width: 160px;
    height: 30px;
    border-radius: 20px;
    margin-right: 20px;
    background-color: rgb(236, 244, 250);
    border: 1px solid lightgray;
    font-size: small;
    color: rgb(228, 226, 226);
}

.nav-right .small-profile-pic {
    border-radius: 50%;
    margin: 5px;
    vertical-align: bottom;
}

.nav-right button {
    margin-left: 10px;
    margin-right: 10px;
    width: 90px;
    height: 35px;
    margin-top: 0px;
    border-radius: 20px 20px 20px 20px;
    background-color: #85cec2;
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 10pt;
   
}

.banner {
    display: flex;
    align-items: stretch;
    width: 100%;
    height: 324px;
    @include box-shadow(rgba(0, 0, 0, 0.30) 0 4px 0px 0);
}

.middle-bar{
    height: 386px;
}

.stats {
    width: 100%;
    height: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 9pt;
    font-weight: bold;
    color: #666666;
}

.stats-left {
    background-color: white;
    margin-left: 300px;
    height: 45px;
    box-sizing: border-box;
    padding: 15px;
    display: inline-block;
}

.stats a {
    display: inline-block;
    text-align: center;
    height: 45px;
}

.stats-left a .label {
    padding: 15px;
}

.stats-left a .num {
    padding: 15px;
    font-size: 12pt;
}

.stats-left a:hover {
    color: #85cec2;
    border-bottom: 3px solid #85cec2;
}

.stats-right {
    float: right;
    display: flex; 
    box-sizing: border-box;
    height: 45px;
    padding-top: 10px;
    margin-right: 50px;
    width: 200px;
    justify-content: space-around;
    align-items: center;
}

.follow button {
    float: right;
    height: 40px;
    width: 120px;
    background-color: #85cec2;
    color: white;
    font-size: 11pt;
    font-weight: bold;
    border-radius: 20px;
    margin-top: 8px;
}

/* .options {
    /* float: right; */
} */

.options i {
    margin-right: 10px;

}

.profile-image{
    margin-left: 40px;
    margin-top: -180px;
    height: 200px;
    width: 200px;
}

.profile-image img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: solid white 5px;
}

.main{
    width: 80%;
    float: right;
    height: 1000px;
    background-color: rgb(231, 235, 240);
}

.bio {
    width: 20%;
    height: 1000px;
    float: left;
    background-color: rgb(231, 235, 240);
    text-align: left;
}

.fullname {
    position: absolute;
    margin-top: 35px;;
    margin-left: 40px;
    /* text-align: left; */
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: rgb(37, 37, 37);
}

.username {
    position: absolute;
    margin-top: 70px;
    margin-left: 40px;
    /* text-align: left; */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: rgb(122, 123, 124);
}

.blurb {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: rgb(37, 37, 37);
    position: absolute;
    margin-left: 40px;
    margin-top: 100px;
}

.feed {
    width: 50%;
    height: 1000px;
    position: absolute;
    background-color: white;
    margin-left: 325px;
    margin-top: 8px;

}

.suggestions {
    /* float: right;
    position: absolute; */
}

.sug-box {
    width: 20%;
    height: 1000px;
    position: absolute;
    background-color: white;
    margin-top: 8px;
    margin-left: 980px;
}
